<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
	<md-button class="md-primary md-raised" ng-click="showCustom($event)"  flex="100"  flex-gt-md="auto">
		Show code pic
	</md-button>
	<md-checkbox ng-model="isChecked" aria-label="Married">
		Married
	</md-checkbox>
	<br>
	<md-checkbox md-no-ink ng-model="hasInk" aria-label="No Ink Effects">
		Single
	</md-checkbox>
	<br>
	<md-checkbox ng-disabled="true" ng-model="isDisabled" aria-label="Disabled">
		Don't know (Disabled)
	</md-checkbox>
</md-bottom-sheet>
