<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
	<md-content>
		<md-button class="md-primary md-raised" ng-click="showCustom($event)"  flex="100"  flex-gt-md="auto">
			Show code pic
		</md-button>
	</md-content>
	<div id="layoutContainer" ng-controller="flexDirectiveController as ctrl" layout="row" style="height:100px;" ng-cloak layout-wrap>

		<div flex="30" class="green box">
			[flex="30"]
		</div>
		<div flex="45" class="blue box">
			[flex="45"]
		</div>
		<div flex="25" class="green box">
			[flex="25"]
		</div>

		<div flex="33" class="green box">
			[flex="33"]
		</div>
		<div flex="66" class="blue box">
			[flex="66"]
		</div>

		<div flex="50" class="blue box">
			[flex="50"]
		</div>
		<div flex class="green box">
			[flex]
		</div>
	</div>
</md-bottom-sheet>
