<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
	<md-button class="md-primary md-raised" ng-click="showCustom($event)"  flex="100"  flex-gt-md="auto">
		Show code pic
	</md-button>
	<div id="iconContainer" class="iconDemo" ng-controller="iconController as ctrl" ng-cloak>
		<div class="glyph" ng-repeat="font in fonts" layout="row">
			<div ng-repeat="it in sizes" flex layout-align="center center" style="text-align: center;" layout="column">
				<div flex></div>
				<div class="preview-glyphs">
					<md-icon ng-style="{color: font.color}"
							 aria-label="{{ font.name }}"
							 class="material-icons step"
							 ng-class="it.size">
						{{ font.name }}
					</md-icon>
				</div>
			</div>
		</div>
	</div>
</md-bottom-sheet>

