<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
	<md-button class="md-primary md-raised" ng-click="showCustom($event)"  flex="100"  flex-gt-md="auto">
		Show code pic
	</md-button>
	<div id="layoutContainer" ng-controller="layoutController as ctrl" style="height:100px;" ng-cloak>
		<div layout="row" layout-xs="column">
			<div flex class="green box">Row 1: Item 1</div>
			<div flex="20" class="blue box">Row 1: Item 2</div>
		</div>
		<div layout="column" layout-xs="column">
			<div flex="33" class="green box">Column 1: item 1</div>
			<div flex="66" class="blue box">Column 1: item 2</div>
		</div>
	</div>

</md-bottom-sheet>
