<md-bottom-sheet class="md-grid" layout="column" ng-cloak>

	<div id="progressbarsContainer" ng-controller="progressBarController as ctrl" layout="column" ng-cloak>
		<h4 style="margin-top:10px">Determinate </h4><p></p>
		<div layout="row" layout-sm="column" layout-align="space-around">
			<md-progress-circular md-mode="determinate" value="{{ctrl.determinateValue}}"></md-progress-circular>
		</div>

		<h4 style="margin-top:10px">Indeterminate </h4>
		<div layout="row" layout-sm="column" layout-align="space-around">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</div>

		<h4 style="margin-top:10px">Theme Based</h4>
		<div layout="row" layout-sm="column" layout-align="space-around">
			<md-progress-circular class="md-hue-2" md-mode="{{ctrl.modes[0]}}" md-diameter="20px"></md-progress-circular>

			<md-progress-circular class="md-accent" md-mode="{{ctrl.modes[1]}}" md-diameter="40"></md-progress-circular>

			<md-progress-circular class="md-accent md-hue-1" md-mode="{{ctrl.modes[2]}}" md-diameter="60"></md-progress-circular>

			<md-progress-circular class="md-warn md-hue-3" md-mode="{{ctrl.modes[3]}}" md-diameter="70"></md-progress-circular>

			<md-progress-circular md-mode="{{ctrl.modes[4]}}" md-diameter="96"></md-progress-circular>
		</div>

		<hr ng-class="{'visible' : ctrl.activated}">
		<div id="loaders" layout="row" layout-align="start center">
			<p>Progress Circular Indicators:</p>
			<h5>Off</h5>
			<md-switch
					ng-model="ctrl.activated"
					ng-change="ctrl.toggleActivation()"
					aria-label="Toggle Progress Circular Indicators">
				<h5>On</h5>
			</md-switch>
		</div>
	</div>

</md-bottom-sheet>
