<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
	<md-content>
		<md-button class="md-primary md-raised" ng-click="showCustom($event)"  flex="100"  flex-gt-md="auto">
			Show code pic
		</md-button>
	</md-content>
	<div id="radioButtonsContainer" ng-controller="radioButtonController as ctrl" layout="column" ng-cloak>
		<p>Selected Value: <span>{{ group }}</span> </p>

		<md-radio-group ng-model="group" class="md-primary">
			<md-radio-button ng-repeat="d in radioData"
							 ng-value="d.value"
							 ng-disabled=" d.isDisabled "
							 ng-class="{'md-align-top-left': $index==1}" >
				{{ d.label }}<br/>
			</md-radio-button>
		</md-radio-group>

	</div>

</md-bottom-sheet>
