<md-bottom-sheet class="md-grid" layout="column" ng-cloak>

	<div id="sideNavContainer" ng-controller="sidenavController as ctrl" layout="row" ng-cloak>

		<md-sidenav md-component-id="left" class="md-sidenav-left">Welcome to TutorialsPoint.Com</md-sidenav>

		<md-content>
			<md-button class="md-primary md-raised" ng-click="showCustom($event)"  flex="100"  flex-gt-md="auto">
				Show code pic
			</md-button>
			<md-button ng-click="openLeftMenu()">Open Left Menu</md-button>
			<md-button ng-click="openRightMenu()">Open Right Menunununu</md-button>
		</md-content>

		<md-sidenav md-component-id="right" class="md-sidenav-right">
			<md-button href="http://google.com">Google</md-button>
		</md-sidenav>

	</div>
</md-bottom-sheet>

