<md-bottom-sheet class="md-grid" layout="column" ng-cloak>

	<div id="sliderContainer" ng-controller="sliderController as ctrl" layout="row" ng-cloak>
		<md-content style="margin: 16px; padding:16px">
			<md-button class="md-primary md-raised" ng-click="showCustom($event)"  flex="100"  flex-gt-md="auto">
				Show code pic
			</md-button>
			<div layout>
				<h4 style="margin-top:10px">Default</h4>
				<md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider" class></md-slider>
				<div flex="20" layout layout-align="center center">
					<input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
				</div>
			</div>

			<div layout>
				<h4 style="margin-top:10px">Warning</h4>
				<md-slider class="md-warn" flex min="0" max="255" ng-model="color.green" aria-label="green" id="green-slider"></md-slider>
				<div flex="20" layout layout-align="center center">
					<input flex type="number" ng-model="color.green" aria-label="green" aria-controls="green-slider">
				</div>
			</div>

			<div layout>
				<h4 style="margin-top:10px">Primary</h4>
				<md-slider class="md-primary" flex min="0" max="255" ng-model="color.blue" aria-label="blue" id="blue-slider"></md-slider>
				<div flex="20" layout layout-align="center center">
					<input flex type="number" ng-model="color.blue" aria-label="blue" aria-controls="blue-slider">
				</div>
			</div>

			<div layout>
				<h4 style="margin-top:10px">Discrete</h4>
				<md-slider flex md-discrete ng-model="rating" step="1" min="1" max="5" aria-label="rating"></md-slider>
				<div flex="20" layout layout-align="center center">
					<input flex type="number" ng-model="rating" aria-label="rating" aria-controls="rating-slider">
				</div>
			</div>

			<div layout>
				<h4 style="margin-top:10px">Disabled</h4>
				<md-slider flex min="0" max="255" ng-model="disabled" ng-disabled="true" aria-label="Disabled"></md-slider>
			</div>

			<div layout>
				<h4 style="margin-top:10px">Disabled, Discrete</h4>
				<md-slider flex md-discrete ng-model="rating" step="1" min="1" max="5" aria-label="disabled"  ng-disabled="true"></md-slider>
			</div>

		</md-content>
	</div>
</md-bottom-sheet>
