<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
	<div layout="row" layout-align="center center">
		{{test}}
	</div>
	<div>
		<md-list flex layout="row" layout-align="center center">
			<md-list-item>
				test 1 content
				<md-button class="md-primary md-raised" ng-click="showCustom($event)"  flex="100"  flex-gt-md="auto">
					Show code pic
				</md-button>
				<textarea id="bar" style="height: 0; width: 0">
			        <p>test p 1</p>
			        <p>test p 1</p>
			        <p>test p 1</p>
			        <p>test p 1</p>
			        <p>test p 1</p>
			        <p>test p 1</p>
			        <p>test p 1</p>
			        <p>test p 0</p>
			    </textarea>

			    <!-- Trigger -->
			    <md-button class="btn md-primary md-raised" data-clipboard-action="copy" data-clipboard-target="#bar">
			        Cut to clipboard
			    </md-button>
			</md-list-item>
		</md-list>
	</div>
</md-bottom-sheet>
