<md-bottom-sheet class="md-grid" layout="column"
				 layout-padding layout-wrap layout-fill ng-cloak>

	<div class="frameContainer" ng-controller="typographyController as ctrl" style="padding-bottom: 32px;" ng-cloak>

		<p class="md-display-4">.md-display-4</p>

		<p class="md-display-3">.md-display-3</p>

		<p class="md-display-2">.md-display-2</p>

		<p class="md-display-1">.md-display-1</p>

		<p class="md-headline">.md-headline</p>

		<p class="md-title">.md-title</p>

		<p class="md-subhead">.md-subhead</p>

		<p class="md-body-1">.md-body-1</p>

		<p class="md-body-2">.md-body-2</p>

		<md-button>.md-button</md-button>

		<p class="md-caption">.md-caption</p>

	</div>
</md-bottom-sheet>
