<html lang="en" >
<head>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="css/style.css">

	<script src="js/index.js"></script>
	<script src="js/controllers/auto-complete-controller.js"></script>
	<script src="js/controllers/bottom-sheet-controller.js"></script>
	<script src="js/controllers/button-controller.js"></script>
	<script src="js/controllers/card-controller.js"></script>
	<script src="js/controllers/check-box-controller.js"></script>
	<script src="js/controllers/chip-controller.js"></script>
	<script src="js/controllers/contact-chip-controller.js"></script>
	<script src="js/controllers/content-controller.js"></script>
	<script src="js/controllers/date-picker-controller.js"></script>
	<script src="js/controllers/dialog-controller.js"></script>
	<script src="js/controllers/divider-controller.js"></script>
	<script src="js/controllers/fab-speed-dial-controller.js"></script>
	<script src="js/controllers/fab-toolbar-controller.js"></script>
	<script src="js/controllers/flex-directive-controller.js"></script>
	<script src="js/controllers/grid-controller.js"></script>
	<script src="js/controllers/icon-controller.js"></script>
	<script src="js/controllers/input-controller.js"></script>
	<script src="js/controllers/layout-controller.js"></script>
	<script src="js/controllers/list-controller.js"></script>
	<script src="js/controllers/menu-bar-controller.js"></script>
	<script src="js/controllers/menu-controller.js"></script>
	<script src="js/controllers/progress-bar-controller.js"></script>
	<script src="js/controllers/progress-liner-controller.js"></script>
	<script src="js/controllers/radio-button-controller.js"></script>
	<script src="js/controllers/select-controller.js"></script>
	<script src="js/controllers/sidenav-controller.js"></script>
	<script src="js/controllers/slider-controller.js"></script>
	<script src="js/controllers/subheader-controller.js"></script>
	<script src="js/controllers/swipe-controller.js"></script>
	<script src="js/controllers/switch-controller.js"></script>
	<script src="js/controllers/tab-controller.js"></script>
	<script src="js/controllers/test-controller.js"></script>
	<script src="js/controllers/theme-controller.js"></script>
	<script src="js/controllers/toast-controller.js"></script>
	<script src="js/controllers/toolbar-controller.js"></script>
	<script src="js/controllers/tooltip-controller.js"></script>
	<script src="js/controllers/typography-controller.js"></script>
	<script src="js/controllers/virtual-repeat-controller.js"></script>
	<script src="js/controllers/white-frame-controller.js"></script>

</head>
<body ng-app="firstApplication">
<div class="frameContainer" ng-controller="mainController as ctrl" layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>

	<md-whiteframe class="md-whiteframe-1dp"
				   flex-sm="45" flex-gt-sm="30" flex-gt-md="10"
				   layout layout-align="center center"
				   ng-repeat="tile in tiles">
		<a href="#" ng-click="openBottomSheet(tile.templateUrlValue)">
			<img ng-src="../img/{{tile.imgName}}.png" alt="xx">
		</a>
		<md-tooltip md-visible="false" md-direction="bottom">{{tile.tooltipsValue}} !</md-tooltip>
	</md-whiteframe>

</div>



</body>
</html>